<!DOCTYPE html>
<html lang="en">
<head>
	<title>2018 Goal</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="shower/themes/ribbon/styles/screen-16x10_modified.css">
</head>
<body class="shower list">

	<header class="caption">
		<h1>2018 Goal</h1>
	</header>

	<section class="slide" id="cover">
		<h2>Goal</h2>
		<ul>
			<li>HI-Cloud 유료화</li>
			<li>ICO를 위한 기술 확보</li>
		</ul>
		<p class="note">1년 더 살아 남자</p>
	</section>

	<section class="slide">
		<h2>Every have to do</h2>
		<h3>책 읽기</h3>
		<div>
			<table style="margin-left:0;margin-right:10px;width:100%;">
				<tr>
					<td>
						<ol>
							<li>영어로된 책</li>
							<li>기술 서적</li>
						</ol>
					</td>
					<td>
						<ul>
							<li>요약 및 감상을 남긴다.</li>
							<li>매달 4권의 책을 읽는다.</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		
		<h3>운동 하루 한 시간</h3>
		<ul style="margin-left:100px;">
			<li>근력 운동이 아닌 체력 보강 운동 위주</li>
			<li>Yoga? Corssfit? Running?</li>
		</ul>
	</section>

	<section class="slide">
		<h2>시간대별 지침</h2>
		<ul style="margin-left:100px;">
			<li>오전 : 개발 ( 6 am to 12 am )</li>
			<li>오후 : 기술 조사 및 미팅</li>
			<li>저녁 : 운동 및 독서</li>
			<li>잠들기 전 : 개인 정비 (청소, 빨래)</li>
		</ul>
	</section>

	<section class="slide">
		<ul>
			<li>일상을 단순하게 만든다.</li>
			<li>한번에 하나의 일에 집중 한다.</li>
			<li>저녁과 잠들기 전 일과는 여행이나 여가를 즐길 때도 지키려 노력 한다.</li>
		</ul>
	</section>

	<div class="progress"></div>

	<script src="shower/shower.min.js"></script>
	<!-- Copyright © 2017 Yours Truly, Famous Inc. -->

</body>
</html>
